root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_size = 8
indent_style = tab
tab_width = 8

[*.{py,py.in,hpp,cpp}]
indent_style = space
indent_size = 4

[*.{h,c}]
indent_style = tab
indent_size = 8
