/tests/test-bitfield
*.o
*.a
*.la
*.lo
.libs
.deps
*.bkp
ctf-lexer.c
ctf-parser.c
ctf-parser.h
ctf-parser-test
/converter/babeltrace
/config.h
/config.h.in
/config.status
*.log
*.m4
libtool
/configure
Makefile
Makefile.in
autom4te.cache/
config/
converter/babeltrace-log
core
formats/ctf/metadata/ctf-parser.output
stamp-h1
