*~
/tests/bin/test_trace_read
/tests/bin/intersection/test_intersection
/tests/bin/intersection/bt_python_helper.py
/tests/bin/test_packet_seq_num
/tests/lib/test_bitfield
/tests/lib/test_seek
/tests/lib/test_ctf_writer
/tests/lib/test_seek_big_trace
/tests/lib/test_seek_empty_packet
/tests/lib/test_dwarf
/tests/lib/test_bin_info
/tests/lib/test_bin_info_complete
/tests/lib/test_ctf_writer_complete
/tests/lib/test_dwarf_complete
*.o
*.a
*.la
*.lo
*.exe
.libs
.deps
*.bkp
*.trs
ctf-lexer.c
ctf-parser.c
ctf-parser.h
ctf-parser-test
/converter/babeltrace
/config.h
/config.h.in
/config.status
*.log
aclocal.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
libtool
/configure
Makefile
Makefile.in
autom4te.cache/
config/
converter/babeltrace-log
core
formats/ctf/metadata/ctf-parser.output
stamp-h1
bindings/python/setup.py
bindings/python/installed_files.txt
bindings/python/build
bindings/python/babeltrace/__init__.py
bindings/python/babeltrace/babeltrace.i
bindings/python/babeltrace/babeltrace.py
bindings/python/babeltrace/babeltrace_wrap.c
bindings/python/build-python-bindings.stamp
babeltrace.pc
babeltrace-ctf.pc
