# SPDX-FileCopyrightText: 2019-2020 EfficiOS, Inc.
# SPDX-License-Identifier: MIT

bt2/native_bt.py
bt2/native_bt.c
bt2/native_bt.d
bt2/version.py
build
build-python-bindings.stamp
installed_files.txt
setup.py
